.bg-thongke {
    border-radius: 5px;
    color: #fff;
}
.bg-thongke-1 {
    background: rgb(255, 82, 82);
    background: linear-gradient(90deg, rgba(255, 82, 82, 1) 0%, rgba(255, 155, 96, 1) 35%, rgba(255, 253, 137, 1) 100%);
}
.bg-thongke-2 {
    background: rgb(8, 23, 255);
    background: linear-gradient(84deg, rgba(8, 23, 255, 1) 0%, rgba(73, 92, 255, 1) 35%, rgba(156, 170, 255, 1) 100%);
}
.bg-thongke-3 {
    background: rgb(0, 218, 242);
    background: linear-gradient(84deg, rgba(0, 218, 242, 1) 0%, rgba(79, 229, 255, 1) 35%, rgba(153, 252, 249, 1) 100%);
}
.card-title{
    font-weight: 800;
}