.bg-login {
    position: relative;
    background-color: #053878;
}
.login-logout {
    font-weight: 600;
    color: #fff;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: opacity linear 0.2s;
    }
}

.nav-bg {
    position: sticky;
    top: 0;
    background: url('../../assets/imgs/navbar_bg.png');

    background-repeat: repeat-x;
    height: 110px;
    background-size: 200px 110px;
    z-index: 1000;
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    .nav_items {
        background-color: #053878;
        color: #fff;
        font-weight: 600;
        padding: 5px 10px;
        border-radius: 7px;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
            transition: opacity linear 0.2s;
        }
    }
}
.login-logout-event {
    &:after {
        content: '';
        position: absolute;
        left: 48px;
        top: 13px;
        height: 20px;
        width: 70%;
        background-color: transparent;
    }
    &:hover > .down_detail {
        display: block;
        transition: all linear 0.6s;
    }
}
.down_detail {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    width: 110px;
    padding: 10px 5px;
    z-index: 999999;
}
.down_detail::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #fff; /* Màu sắc của mũi nhọn */
    top: -10px; /* Điều chỉnh vị trí theo ý muốn */
    left: 15%; /* Điều chỉnh vị trí theo ý muốn */
    transform: translateX(-50%);
}
